@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:black;
	letter-spacing: 4px;
	transition: 0.5s;
}
.navbar-brand{
	color:purple;
	letter-spacing: 4px;
}
h2{
	color: white;
	letter-spacing: 4px;
	font-family: raleway;
}
